body{
	margin: 0px;
	padding: 0px;
	font-family: 'Droid Sans', sans-serif;
	font-size: 13px;
	color: #dbc73e;
	background-color: rgb(60, 60, 60);
	border-color: black;
	text-shadow: 1px 1px 2px #000000;
}
.popupContainer{
	width: 400px;
	min-height: 150px; 
}
p{
	font-size: 20px;
}
h1, h2{
	text-align: center;
	letter-spacing: 3px;
}
a:visited {
    color: #dbc73e;
}
[class*='col-']{
	float: left;
	padding-right: 20px;
	padding-left: 10px;
}
.col-55-100{
	width: 55%;
}
.col-45-100{
	width: 45%;
}
.popupContainer:after {
	content:  "";
	display: table;
	clear: both;
}
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
[class*='col-']:last-of-type{
	padding-right: 0px;
	padding-left: 0px;
}
